<div class="learn-more-container mt-2">
    <section id="card-faq-header">
        <h1>Frequently Asked Questions</h1>
    </section>
    <div class="container-fluid">
        <section class="card-faq-main container-fluid clearfix">
            <div class="row">
              <div class="w-full sm:w-full">
                    <a routerLink="/redeem" class="f-16 f-600 flex gap-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left " viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                      </svg>
                      <span class="f-600 leading-5">Load My Card</span>
                    </a>
                </div>
            </div>
  
            <div class="mt-4 row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">When are my points eligible for redemption?</p>
                    <div class="card-faq-text-area">
                        <p> Kohler Preferred Partner Points become eligible for redemption on your KOHLER Rewards Prepaid
                            Mastercard<sup>®</sup> as soon as they’re deposited in your account, you’ve submitted a
                            W9 form, and you’re up-to-date on all required training courses. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">How much can I load on my card account per redemption?</p>
                    <div class="card-faq-text-area">
                        <p> You can add a minimum amount of $100 up to $10,000 per redemption transaction, which can
                            be redeemed once per day. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">Will my card ever expire?</p>
                    <div class="card-faq-text-area">
                        <p> Yes, but not for three years. Plus, funds are automatically uploaded to the existing
                            card, eliminating the hassle and wait time of receiving a new card to use when redeeming
                            points. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">Where can I use my Mastercard Prepaid Card?</p>
                    <div class="card-faq-text-area">
                        <p> Just about everywhere! Mastercard is accepted by most businesses and retailers all
                            across the country! </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">When I click redeem, I am directed to another website. Is this ok?</p>
                    <div class="card-faq-text-area">
                        <p> Yes, this means our interface is working correctly! You'll be redirected to a separate
                            website to register for your card and manage your account balance. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">I need assistance with my reloadable gift card or lost it. What should I do?</p>
                    <div class="card-faq-text-area">
                        <p> Please call +1 (888) 633-1275. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">How do I check the current balance on my debit card?</p>
                    <div class="card-faq-text-area">
                        <p> Login at account.mypaymentvault.com to check your balance and manage your card account.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p>My card was declined even though I have sufficient funds available for my transaction - what
                        should I do?</p>
                    <div class="card-faq-text-area">
                        <p> If your card is declined at point-of-sale, please ask the merchant to run your card as
                            'credit'. Your card may be declined if it is run as a debit card, even if you have funds
                            available. If you continue to experience issues, please call +1 (888) 633-1275. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="w-full sm:flex-none sm:w-full">
                    <p class="f-600">Once I receive my Mastercard Prepaid Card, can I still choose to redeem my points in other
                        ways?</p>
                    <div class="card-faq-text-area">
                        <p> Yes! The KOHLER Rewards Prepaid Mastercard is an additional rewards redemption option
                            available to you. You can choose to redeem Kohler Preferred Partner points at any time on the Kohler Preferred Partner
                            Market or use your points to load your KOHLER Rewards Prepaid Mastercard or do
                            both! It's entirely up to you! </p>
                    </div>
                </div>
            </div>
  
            <div class="row">
                <div class="w-full sm:flex-none sm:w-full text-center">
                    <a routerLink="/redeem" class="btn btn-primaryDark" style="padding: 1rem 2rem !important;">Load
                        My Card</a>
                </div>
            </div>
            <br>
  
            <div class="card-fine-print">
                Use your card everywhere Mastercard is accepted in the U.S. Issued by The Bancorp Bank, Member FDIC,
                pursuant to license by Mastercard International Incorporated. Mastercard is a registered trademark,
                and the circles design is a trademark of Mastercard International Incorporated. Your use of the
                prepaid card is governed by the Cardholder Agreement, and some fees may apply. This is not a gift
                card. Please note that prepaid cards are subject to expiration, so pay close attention to the
                expiration date of the card.
            </div>
  
        </section>
    </div>
  
  
  </div>