<div>
    <form [formGroup]="configurationForm" style="margin: 20px; display: flex; flex-direction: column; gap: 30px;">
        <div class="flex flex-col" style="gap: 15px;">
            <div style="display: flex; gap: 20px; flex-wrap: wrap;">
                <div style="display: flex; gap: 20px;">
                    <div style="display: flex;
                    gap: 20px;
                    flex-direction: column;">
                        <span class="option-title">
                            Include Points System
                        </span>
                        <span class="option-title">
                            Collect Tax Forms
                        </span>
                    </div>
                    <div style="display: flex;
                    flex-direction: column;
                    height: inherit;
                    padding: 2px 0;
                    justify-content: space-between;">
                        <span>
                            <mat-radio-group [formControlName]="'includePointsSystem'" style="display: flex; gap: 20px;">
                                <mat-radio-button [value]="true" >Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                        
                        <span>
                            <mat-radio-group [formControlName]="'collectTaxForms'" style="display: flex; gap: 20px;">
                                <mat-radio-button [value]="true" (click)="CollectTaxNotification()">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <div style="display: flex; gap: 20px;">
                    <div style="display: flex;
                    gap: 30px;
                    flex-direction: column;">
                        <span class="option-title">
                            Include Academy System
                        </span>
                    </div>
                    <div style="display: flex;
                    flex-direction: column;
                    height: inherit;
                    padding: 2px 0;
                    justify-content: space-between;">
                        <span>
                            <mat-radio-group [formControlName]="'includeAcademySystem'" style="display: flex; gap: 20px;">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
            </div>
            <div style="display: flex; gap: 20px;">
                <div style="display: flex;
                gap: 30px;
                flex-direction: column;">
                    <span class="option-title-italic">
                        Require Tax forms before allowing user to redeem points?
                    </span>
                </div>
                <div style="display: flex;
                flex-direction: column;
                height: inherit;
                padding: 2px 0;
                justify-content: space-between;">
                    <span>
                        <mat-radio-group [formControlName]="'requiredTaxFormsBeforeAllowUserToRedeemPoint'" style="display: flex; gap: 20px;">
                            <mat-radio-button [value]="true">Yes</mat-radio-button>
                            <mat-radio-button [value]="false">No</mat-radio-button>
                        </mat-radio-group>
                    </span>
                </div>
            </div>
            <div style="display: flex; gap: 40px;">
                <div style="display: flex; gap: 30px; flex-direction: column;">
                  <span class="option-title">Use Email As User ID</span>
                </div>
                <div style="display: flex; flex-direction: column; height: inherit; padding: 2px 0; justify-content: space-between;">
                  <span>
                    <mat-radio-group [formControlName]="'userEmailAsUserId'" style="display: flex; gap: 20px;">
                      <mat-radio-button [value]="true" (change)="onEmailAsUserIdChange(true)">Yes</mat-radio-button>
                      <mat-radio-button [value]="false" (change)="onEmailAsUserIdChange(false)">No</mat-radio-button>
                    </mat-radio-group>
                  </span>
                </div>
              </div>
              <div style="display: flex; gap: 40px;">
                <div style="display: flex; gap: 30px; flex-direction: column;">
                  <span class="option-title">Sign in with Google</span>
                </div>
                <div style="display: flex; flex-direction: column; height: inherit; padding: 2px 0; justify-content: space-between;">
                    <span>
                      <mat-radio-group
                        [formControlName]="'isgoogleSign'"
                        [disabled]="!userEmailIdAsUserId"
                        style="display: flex; gap: 20px;"
                      >
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                      </mat-radio-group>
                    </span>
                    
                  </div>
                  <span  style="color: red; font-size: 12px;margin-top: 5px;">
                    {{message}}
                   </span>
              </div>
            <div class="flex flex-col" style="gap: 15px;">
            
                <div style="display: flex; gap: 20px;">
                    <div style="display: flex; gap: 30px; flex-direction: column;">
                        <span class="option-title">
                            OnBe
                        </span>
                    </div>
                    <div style="display: flex; flex-direction: column; height: inherit; padding: 2px 0; justify-content: space-between;">
                        <span>
                            <mat-radio-group [formControlName]="'userOnbe'" style="display: flex; gap: 20px;">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
                <div style="display: flex; gap: 20px;">
                    <div style="display: flex; gap: 30px; flex-direction: column;">
                        <span class="option-title">
                            Neo Currency
                        </span>
                    </div>
                    <div style="display: flex; flex-direction: column; height: inherit; padding: 2px 0; justify-content: space-between;">
                        <span>
                            <mat-radio-group [formControlName]="'userNeoCurrency'" style="display: flex; gap: 20px;">
                                <mat-radio-button [value]="true">Yes</mat-radio-button>
                                <mat-radio-button [value]="false">No</mat-radio-button>
                            </mat-radio-group>
                        </span>
                    </div>
                </div>
    
            </div>
        </div>
        <div>
            <div style="display: flex; gap: 8px;">
                <div style="display: flex;
                gap: 30px;
                justify-content: center;
                flex-direction: column;">
                    <span class="option-title">
                        Point Value Ratio (For Client Billing): 1 point = $
                    </span>
                </div>
                <div style="display: flex;
                flex-direction: column;
                height: inherit;
                padding: 2px 0;
                justify-content: space-between;">
                    <mat-form-field custom-mat-form-field style="min-width: 192px; align-items: center;">
                        <input matInput [formControlName]="'pointValueRatio'" type="number" min="0">
                        
                    </mat-form-field>
                </div>
            </div>
            <div style="display: flex; gap: 20px;">
                <div style="display: flex;
                gap: 30px;
                justify-content: center;
                flex-direction: column;">
                    <span class="option-title">
                        Program Period
                    </span>
                </div>
                <div style="display: flex;
                gap: 10px;
                height: inherit;
                padding: 2px 0;
                justify-content: space-between;">
                    <mat-form-field custom-mat-form-field class="manage-period-form-field" style="width: 230px;">
                        <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate [formControlName]="'programStartDate'" placeholder="Start date" />
                            <input matEndDate [formControlName]="'programEndtDate'" placeholder="End date" />
                        </mat-date-range-input>
                        <!-- <mat-hint>MM-DD-YYYY – MM-DD-YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker>
                            <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Clear</button>
                            <button mat-raised-button matDateRangePickerApply>Apply</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-wrap gap-6" style="align-items: center; justify-content: start;">
            <button class="justify-center" style="height: 36px; padding: 0 20px; display: flex; align-items: center;" (click)="SaveOrUpdateProgramConfiguration()" class="bg-[#04202E] text-white py-2 rounded-lg">
              <!-- <mat-icon style="color: white;" [svgIcon]="'save'" class="report-icon"></mat-icon> -->
              <span>Save Configurations</span>
            </button>
            <button class="justify-center" style="height: 36px; padding: 0 20px; display: flex; align-items: center;"  class="bg-[#04202E] text-white py-2 rounded-lg" (click)="openBulkTaxInformationModal(userTaxInformation)">
                <div class="flex items-center justify-center gap-2"><mat-icon svgIcon="attach_email" style="color: #f5f5f5e3"></mat-icon>Upload User Tax Information</div>
              </button>
        </div>
    </form>
    <div style="margin: 20px; display: flex; flex-direction: column; gap: 15px;">
        <span class="option-title">Manage Program Milestones</span>
        <div class="w-full" style="overflow-x: auto;">
            <app-data-grid
                [gridSettings]="gridColumns"
                [enableRowClick]="true"
                [dataSource]="dataSource"
                [pages]="pages"
                [pageIndex]="pageIndex"
                (buttonClick)="handleButtonClick($event)"
                [sortBy]="sortBy"
                [sortDirection]="sortDirection"
                [totalRecordCount]="apiRequest.itemCount"
                (fetchPageData)="onPageChange($event)"
                (emitRecordCount)="changePageCount($event)"
                (sortChangeClick)="handleSortChange($event)">
            </app-data-grid>
        </div>
        <div class="add-milestone-button" (click)="openDialog(milestoneDialog, 'add')">
            <mat-icon [svgIcon]="'add_circle'"></mat-icon>
            <span style="display: flex; height: 100%; align-items: center;" style="font-weight: 400; color: #171A1F; font-size: 16px">
                Add Milestone
            </span>
        </div>
        <div style="display: flex; gap: 40px; align-items: center;">
            <div style="display: flex; gap: 18px;">
                <span class="option-title">
                    Automated System Emails & Notifications
                </span>
                <span>
                    <mat-icon [svgIcon]="'notifications'"></mat-icon>
                </span>
            </div>
            <div class="flex space-x-4" style="align-items: center; justify-content: start;">
                <button (click)="routeToManageEmailTemplates()" style="min-height: 36px; padding: 0 65px; display: flex; align-items: center;" class="bg-[#04202E] text-white py-2 rounded-lg">
                  <mat-icon [svgIcon]="'Settings-btn-cus'" class="report-icon"></mat-icon>
                  <span style="margin-left: 5px;">Manage System Emails</span>
                </button>
            </div>
        </div>
        <div>
            <div style="display: flex; gap: 40px; flex-wrap: wrap; align-items: flex-end; margin-bottom: 10px;">
                <div style="display: flex; gap: 112px;">
                    <span class="option-title">
                        Admin Console Visibility Settings
                    </span>
                    <span>
                        <mat-icon [svgIcon]="'notifications'"></mat-icon>
                    </span>
                </div>
                <div class="flex space-x-4" style="align-items: center; justify-content: start;">
                    <button  style="min-height: 36px; padding: 0 10px; display: flex; align-items: center;" class="bg-[#04202E] text-white py-2 rounded-lg" (click)="RoutetoAdminPage()">
                      <mat-icon [svgIcon]="'Settings-btn-cus'" class="report-icon"></mat-icon>
                      <span style="margin-left: 5px;">Manage Admin Profiles & Visibility Settings</span>
                    </button>
                </div>
            </div>
            <div style="font-weight: 400; color: #171A1F; font-size: 18px; width: 60%; line-height: 28px;">
                Allows user to hide and/or toggle a reduced view of User Administration, Points Credit Manager, Points Credit File Upload, SKU LIst Manager, Order Redemption Manager (ie. hide all pricing info), Reports (ie. reduced view of Order Redemption Report hiding pricing info)
            </div>
        </div>
        <div style="display: flex; gap: 40px; align-items: center; flex-wrap: wrap;">
            <div style="display: flex; gap: 182px;">
                <span class="option-title">
                    Manage Analytics Embed
                </span>
                <span>
                    <mat-icon [svgIcon]="'notifications'"></mat-icon>
                </span>
            </div>
            <div class="flex space-x-4" style="align-items: center; justify-content: start;">
                <button (click)="openAnalyticsTagDialog(googleTag)" style="min-height: 36px; padding: 0 38px; display: flex; align-items: center;" class="bg-[#04202E] text-white py-2 rounded-lg">
                  <mat-icon [svgIcon]="'Settings-btn-cus'" class="report-icon"></mat-icon>
                  <span style="margin-left: 5px;">Manage System Analytics Embed</span>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #milestoneDialog>
      <div style="display: flex; min-width: 300px; justify-content: space-between;" mat-dialog-title class="dialog-header">
        <h3 mat-dialog-title>{{formTitle}}</h3>
        <button mat-icon-button (click)="mileStoneDialog.close()" class="close-button">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <mat-dialog-content style="flex: 1; overflow: auto;">
        <form [formGroup]="milestoneForm">
        <div class="flex flex-row gap-4" style="flex-wrap: wrap;">
          <div style="display: flex; width: 100%; gap: 20px;">
            <mat-form-field style="width: 50%;">
              <mat-label>MileStone Name *</mat-label>
              <input matInput type="text" formControlName="milestoneName" (click)="onFieldChange()">
            </mat-form-field>
            <mat-form-field style="width: 50%;">
              <mat-label>Type *</mat-label>
              <mat-select formControlName="type" (selectionChange)="onFieldChange()">
                <mat-option *ngFor="let item of milestoneTypeDropdown" [value]="item.id" >{{item.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="display: flex; width: 100%; gap: 20px;">
            <mat-form-field style="width: 50%;">
              <mat-label>Threshold *</mat-label>
              <input matInput type="number" formControlName="threshold" (click)="onFieldChange()">
            </mat-form-field>
            <mat-form-field style="width: 50%;">
              <mat-label>Congrats Message Type</mat-label>
              <mat-select formControlName="congratsMessageType" multiple (selectionChange)="onCongratsMessageTypeChange();onFieldChange()">
                <mat-option *ngFor="let option of options" [value]="option.value">
                  {{ option.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="milestoneForm.get('congratsMessageType').value?.includes('email')" style="display: flex; width: 100%; gap: 20px; flex-direction: column;">
            <mat-form-field style="width: 100%;">
              <mat-label>Email Subject *</mat-label>
              <input matInput type="text" formControlName="emailSubject" (click)="onFieldChange()" (keyup)="onFieldChange()">
            </mat-form-field>
            <div style="width: 100%; display: flex; flex-direction: column;" class="gap-4">
              <mat-label class="custom-mat-label">Email Body *</mat-label>
              <div matInput style="border-radius: 6px; border: 1px solid rgba(226, 232, 240, 1); width: 100%;">
                <ckeditor formControlName="emailBody" id="editor1" [readonly]="true" #input2 [editor]="editor" [shouldNotGroupWhenFull]="true" [config]="{ toolbar: { shouldNotGroupWhenFull: true } }"></ckeditor>
              </div>
            </div>
          </div>
          <div *ngIf="milestoneForm.get('congratsMessageType').value?.includes('notification')" style="display: flex; width: 100%; gap: 20px;">
            <mat-form-field style="width: 50%;">
              <mat-label>Notification Subject *</mat-label>
              <input matInput type="text" formControlName="notificationSubject" (click)="onFieldChange()" (keyup)="onFieldChange()">
            </mat-form-field>
            <mat-form-field style="width: 50%;">
              <mat-label>Notification Body *</mat-label>
              <textarea id="email-body-text-area" matInput formControlName="notificationBody" (click)="onFieldChange()" (keyup)="onFieldChange()"></textarea>
            </mat-form-field>
          </div>
          <div style="width: 100%;">
            <mat-form-field style="width: 100%;">
              <mat-label>User Group Name</mat-label>
              <input matInput type="text" formControlName="userGroupName" (click)="onFieldChange()" (keyup)="onFieldChange()">
            </mat-form-field>
          </div>
        </div>
      </form>
      </mat-dialog-content>
      <mat-dialog-actions class="m-0 px-0 py-2" align="end" style="gap: 10px">
        <button class="close-btn-cus" (click)="mileStoneDialog.close(); prevValue = [];">Close</button>
        <button [disabled]="!enableButton" [ngClass]="enableButton ? 'save-btn-cus' : 'bulk-update-btn-cus'" (click)="SaveOrUpdateMilestone()">Save</button>
      </mat-dialog-actions>
  </ng-template>

  <ng-template #googleTag>
    <h2 mat-dialog-title>Enter Google Analytics Measurement Id</h2>
    <mat-dialog-content>
        <form [formGroup]="configurationForm" >
            <mat-form-field style="width: 100%;">
                <mat-label>Google Analytics Measurement Id (G-XXXXXXXXXX)</mat-label>
                <textarea id="training-desc-text-area" matInput formControlName="googleAnalytics" rows="6"></textarea>
              </mat-form-field>
        </form>
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button class="bg-[#04202E] text-white py-2 rounded-lg" mat-button (click)="onSave()">Save</button>
    </mat-dialog-actions>
  </ng-template>

  <ng-template #userTaxInformation>
    <div mat-dialog-title class="dialog-header flex items-center justify-between">
        <h3 class="m-0">Upload User Tax Information</h3>
        <button mat-icon-button (click)="bulkTaxInformationModal.close()" class="close-button" type="button">
          <mat-icon>close</mat-icon>
        </button>
    </div>
    <mat-dialog-content user-tax-info-upload-mat-dialog-content>


        <div class="flex flex-col overflow-y-auto">
            <form [formGroup]="taxDocumentForm">
                <div style="display: flex; flex-wrap: wrap; width: 100%; gap: 30px;">
                  <div class="flex flex-row gap-4">
                    <mat-form-field class="w-full" style="min-width: 240px;">
                      <mat-label>User *</mat-label>
                      <input 
                        type="text" 
                        matInput 
                        [formControl]="userSearchControl" 
                        [matAutocomplete]="auto" 
                        [matTooltip]="selectedUserTooltip" 
                        matTooltipPosition="above" 
                        placeholder="Enter user name, email, or BP Number" 
                      />
                      <mat-autocomplete 
                        #auto="matAutocomplete" 
                        [displayWith]="displayFn" 
                        (optionSelected)="onUserSelected($event)">
                        <mat-option 
                          *ngFor="let user of filteredUsers | async" 
                          [value]="user" 
                          [matTooltip]="user.firstName + ' ' + user.lastName + ' - ' + user.email + ' ' + user.bpNumber">
                          <span [innerHTML]="formatUserDisplay(user, userSearchControl.value)"></span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
              
                  <div class="flex flex-row gap-4">
                    <mat-form-field class="w-full" style="min-width: 240px;">
                      <mat-label>Upload Tax Document</mat-label>
                      <input 
                        type="file" 
                        (change)="onTaxDocumentSelected($event)" 
                        #fileInput 
                        style="display: none">
                      <input 
                        matInput 
                        [value]="selectedTaxDocument && selectedTaxDocument.name ? selectedTaxDocument.name : selectedTaxDocument && !selectedTaxDocument.name ? selectedTaxDocument : ''" 
                        placeholder="No file chosen" 
                        readonly 
                        (click)="fileInput.click()">
                      <mat-icon matSuffix (click)="fileInput.click()">attach_file</mat-icon>
                      <button *ngIf="selectedTaxDocument" mat-icon-button matSuffix (click)="removeFile()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              
            <div class="flex space-x-4 mt-4 ml-4" style="justify-content: end;">
                <button class="bg-[#04202E] text-white px-4 py-2 rounded-lg" (click)="SaveTaxDocuments()">
                Upload
                </button>
                <button class="bg-white text-black border border-gray-300 px-4 py-2 rounded-lg" (click)="bulkTaxInformationModal.close()">
                Cancel
                </button>
            </div>


            <!-- <div class="flex flex-col lg:flex-row items-center justify-start space-x-4 space-y-4 lg:space-y-0 margin-top: 0 px-4 mb-4 flex-1" >
                <div class="flex flex-col items-center">
                    <button (click)="fileInput.click()" class="bg-[#03202E] text-white px-4 py-2 rounded-md flex items-center">
                        <svg class="h-6 w-6 mr-2 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7a2 2 0 012-2h3.586a1 1 0 01.707.293l2.414 2.414A1 1 0 0012.414 8H21a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V9a2 2 0 012-2z"></path>
                        </svg>
                        <div class="whitespace-nowrap">
                            Choose Upload File
                        </div>
                    </button>
                    <input type="file" accept=".csv" (change)="onFileSelect($event)" class="hidden" #fileInput />
                </div>
        
                <div class="text-gray-500 font-semibold">OR</div>
        
                <div class="flex items-center justify-start w-full space-x-4" style="width: 324px !important;height: 145px !important;">
                    <div 
                    (drop)="onFileDrop($event)" 
                    (dragover)="onDragOver($event)" 
                    (dragleave)="onDragLeave($event)" 
                    class="border-2 border-dashed border-gray-300 rounded-lg p-2 flex flex-col items-center cursor-pointer bg-[#FAFAFB] w-full max-w-xs h-36"
                    >
                    <div class="flex items-center justify-center h-16 w-16 rounded-full mb-2">
                        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32 50.8718L32 32V35.2821" stroke="#6F7787" stroke-width="1.96923" stroke-miterlimit="10" stroke-linecap="square" />
                        <path d="M22.9746 41.0256L32.0003 32L41.0259 41.0256" stroke="#6F7787" stroke-width="1.96923" stroke-miterlimit="10" stroke-linecap="square" />
                        <path d="M38.565 50.8045C42.2744 50.495 45.8202 49.1406 48.7913 46.8981C51.7623 44.6557 54.0369 41.6171 55.3515 38.1346C56.666 34.6521 56.9665 30.8683 56.2183 27.222C55.4701 23.5756 53.7037 20.216 51.1239 17.5326C48.5442 14.8492 45.2567 12.9519 41.6426 12.0608C38.0285 11.1696 34.2359 11.321 30.7043 12.4974C27.1728 13.6738 24.047 15.827 21.6893 18.7075C19.3317 21.588 17.8387 25.0777 17.3835 28.7721C14.5556 29.0527 11.9439 30.4094 10.0882 32.5615C8.23256 34.7137 7.27501 37.4967 7.41358 40.335C7.55216 43.1733 8.77626 45.8498 10.8327 47.811C12.8892 49.7721 15.6207 50.868 18.4624 50.8718L25.4368 50.8718" stroke="#6F7787" stroke-width="1.96923" stroke-miterlimit="10" stroke-linecap="square" />
                        </svg>
                    </div>
                    <span class="text-gray-500 text-2xl">Drop files here</span>
                    <span class="text-gray-400 text-lg">Supported format: .csv</span>
                    </div>
                </div>
            </div>

            <div *ngIf="uploadResult" class="flex flex-col items-start justify-start w-full space-y-4">
                <div class="text-left  text-[#171A1F] font-normal mt-4 ml-4 content">
                    Queued File for Upload:
                    <p>
                    {{ fileName }}</p>
                </div>
            
                <div class="ml-4 grid grid-cols-2 gap-4  text-[#171A1F] font-normal" style="gap: 3.5rem !important;">
                    <div class="resultContent">
                    <p>File Validation</p>
                    <br>
                    <p>{{ uploadResult.totalRecordsCount }} Records Found</p>
                    <p>{{ uploadResult.duplicateRecordCount }} Duplicate Records</p>
                    <p>{{ uploadResult.errorRecordCount }} Records with errors</p>
                    </div>
                </div>
                <div class="flex space-x-4 mt-4 ml-4 resultContent" *ngIf="uploadResult && showViewReportButton" (click)="viewUploadedReport()"><p style="border-bottom: 1px solid #0D78C9 !important; color: #0D78C9 !important; cursor: pointer;">View Report</p></div>
                <div class="flex space-x-4 mt-4 ml-4">
                    <button class="bg-[#04202E] text-white px-4 py-2 rounded-lg" (click)="handleUpload()">
                    Proceed with Upload
                    </button>
                    <button class="bg-white text-black border border-gray-300 px-4 py-2 rounded-lg" (click)="cancelUpload()">
                    Cancel / Remove File From Queue
                    </button>
                </div>
            </div>
    
            <div class="w-full mt-10 space-y-6 overflow-x-auto px-4">
                <div class="w-full space-y-6">
                <div class="flex-wrap" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="flex flex-row items-center mt-4 gap-10">
                        <div class="font-poppins font-normal text-3xl leading-12 text-left">
                            File History
                        </div>
                    </div>
                    
                    <div class="flex flex-row gap-6 flex-wrap">
                        <div style="align-items: center; display: flex;">
                            <button style="
                              width: 100%;
                              padding: 5px 10px;
                              align-items: center;
                              justify-content: start;
                              border-radius: 4px;" mat-icon-button [matTooltip]="'Refresh Page'" mat-icon-button data-placement="bottom" (click)="ImportHistoryPaginated()">
                              <mat-icon [class]="'btn-color-600 refresh-icon'" [svgIcon]="'refresh'"></mat-icon>
                            </button>
                          </div>
                        <button 
                            (click)="downloadTemplate()"
                            style="
                            display: flex;
                            align-items: center;
                            border: 1px solid black;
                            border-radius: 4px;
                            padding: 0 10px;
                            cursor: pointer;
                            height: 41px;
                            width: fit-content;">
                            <mat-icon [svgIcon]="'download'"></mat-icon>
                            Demo Template
                        </button>
                    </div>
                    
                </div>
                <div class="my-2"></div>
                <app-data-grid custom-data-grid id="custom-data-grid"
                    [gridSettings]="userTaxInformationHistoryColumns"
                    [dataSource]="userTaxInformationHistoryDataSource"
                    [loading]="userTaxInformationHistoryLoading"
                    [pages]="userTaxInformationHistoryPages"
                    [pageIndex]="userTaxInformationHistoryApiRequest.pageIndex"
                    [totalRecordCount]="userTaxInformationHistoryApiRequest.itemCount"
                    (emitRecordCount)="userTaxInformationHistoryPageCount($event)"
                    (fetchPageData)="onImportHistoryPageChange($event)"
                    (buttonClick)="handleButtonClick($event, null, null)"
                    (sortChangeClick)="handleImportSortChange($event)"
                ></app-data-grid>
                </div>
            </div> -->
        </div>

    </mat-dialog-content>
  </ng-template>