<div class="learn-more-container mt-2">
    <section id="card-faq-header">
        <h1>Frequently Asked Questions</h1>
    </section>
    <div class="container-fluid">
        <section class="card-faq-main container-fluid clearfix">
            <div class="row">
                <div class="col-sm-12">
                    <a routerLink="/kohler-direct-gift-cards" class="f-16 f-600 gap-1 flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left " viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                        </svg>
                        <span class="f-600 leading-5">Load My Card</span>
                    </a>
                </div>
            </div>

            <div class="mt-4 row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">I can't find the email with my redemption load link. What should I do?</p>
                    <div class="card-faq-text-area">
                        <p> Please check your "Trash" and "SPAM" folders for any emails that might have been
                            filtered there. If you still can't find the email, try searching for the subject line:
                            Your Kohler Direct Gift Card or search for the email address: <a href="mailto:noreply@yourdigitalreward.com">noreply@yourdigitalreward.com</a>. </p>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">When are my points eligible for redemption?</p>
                    <div class="card-faq-text-area">
                        <p>Kohler Preferred Partner Points become eligible for redemption via the KOHLER Direct Gift Card program as soon as they're deposited in your account, you've submitted a W9 form, and you're up-to-date on all required training courses.</p>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">What are the minimum and maximum amounts I can redeem?</p><p>
                    </p><div class="card-faq-text-area">
                        <p>You can add a minimum amount of 4 points up to 12,827 points per redemption transaction,
                            once per day.</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">Will my Kohler Direct Gift Card code ever expire?</p>
                    <div class="card-faq-text-area">
                        <p>Yes, the load value codes for the Kohler Direct Gift Card expire on December 31 of the
                            following year. For example, a code purchased on July 1, 2023, will expire on December
                            31, 2024. However, once you activate your load value code and redeem it for a gift card,
                            that gift card itself does not expire.</p>
                        <p>Please note that VISA Rewards card products typically do expire and expired VISA Rewards
                            card funds cannot be reissued or replaced.</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">Where can I use my Kohler Direct Gift Card load code?</p>
                    <div class="card-faq-text-area">
                        <p> The Kohler Direct Gift Card can be exchanged for eGift cards from a wide variety of
                            brands in <a href="https://redeem.yourdigitalreward.com/rewards/reward-choice-eyJpdiI6IndEaFZaMG00VzRHQVFPOGZndUREeUE9PSIsInZhbHVlIjoiUjlBb1JpY3NvNzN1ZlhZVURZNTQ2dz09IiwibWFjIjoiMjkwM2Y2ZTJiYWFjMTkxMDZhYWVjZDhmODVlNTlhMzMxM2YxYjhlZjVlMmIxMDA2MDBmYmQ3ZWNmOTVjODY1YiJ9" target="_blank">our catalog</a>. Most brands offer denominations from $5 to $500,
                            with some even providing options as low as $1. You have the flexibility to apply the
                            entire load value to one brand or distribute it among different brands. </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">When I click to redeem, I am directed to another website. Is this part of the process?</p>
                    <div class="card-faq-text-area">
                        <p>Yes, it is. You will be taken to a separate platform to redeem your points for the Kohler Direct Gift Card. This is where you can access a variety of eGift cards to choose from based on your load value.</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">I need assistance with my gift card or have lost it. What should I do?

                    </p>
                    <div class="card-faq-text-area">
                        <p>                 For any balance or functionality issues with the eGift card itself, you'll need to contact the retailer directly. For redemption process issues before selecting a brand card, please get in touch with our customer support via email at <a href="mailto:rewards@kohlerpromotions.com">rewards@kohlerpromotions.com</a>.             </p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">How do I check the balance on my load value code?</p>
                    <div class="card-faq-text-area">
                        <p>If you've partially used a load value code, you can revisit the redemption platform to view the remaining balance and choose how to use the rest by clicking on your initial redemption load link sent to your email. This system allows you to keep track of your expenses and remaining funds.</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">How do I check the balance on my gift card?</p>
                    <div class="card-faq-text-area">
                        <p>Please use the card retailer's resources (which will be delivered with your card upon redemption) to manage your gift card balance.</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">Can I use my eGift card in person?

                    </p>
                    <div class="card-faq-text-area">
                        <p>The method of using eGift cards in person varies with each retailer, as they may use QR codes, barcodes, or other formats. Detailed redemption instructions will be provided with your reward, ensuring you can redeem your eGift card easily - most often directly from your mobile device or by a printed copy, if preferred.</p>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <p class="f-600">I need help with a gift card, who do I contact?</p>
                    <div class="card-faq-text-area">
                        <p>                 The contact details for customer service of each eGift card are provided in its Terms &amp; Conditions. For help with the redemption process or any part of the load value experience before choosing a brand card, you can consult our customer service via email at <a href="mailto:rewards@kohlerpromotions.com">rewards@kohlerpromotions.com</a>.             </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="w-full sm:flex-none sm:w-full text-center">
                    <a routerLink="/kohler-direct-gift-cards" class="btn btn-primaryDark" style="padding: 1rem 2rem !important;">Load
                        My Card</a>
                </div>
            </div>
            <br>

            <div class="card-fine-print">
                Use your card everywhere Mastercard is accepted in the U.S. Issued by The Bancorp Bank, Member FDIC,
                pursuant to license by Mastercard International Incorporated. Mastercard is a registered trademark,
                and the circles design is a trademark of Mastercard International Incorporated. Your use of the
                prepaid card is governed by the Cardholder Agreement, and some fees may apply. This is not a gift
                card. Please note that prepaid cards are subject to expiration, so pay close attention to the
                expiration date of the card.
            </div>

        </section>
    </div>


</div>