<div class="learn-more-container mt-2">
    <div class="container-fluid">
        <section id="card-header" class="container-fluid clearfix">
            <div class="row">
                <div class="w-full text-center">
                    <div class="card-blocks-container clearfix">
                        <div class="block-container row">
                            <div class="sm:w-1/2 giftcard-block-left-learn no-margin-left">

                                <div class="row">
                                    <div class="w-full">
                                        <a routerLink="/kohler-direct-gift-cards" class="f-16  gap-1 flex">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left " viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                                            </svg>
                                            <span class="f-600 leading-5">Load My Card</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="mt-4 title">All About KOHLER Direct Gift Card Program</div>
                                <p class="mt-3">The Kohler Direct Gift Card program offers a seamless way to
                                    transform your Kohler Preferred Partner points into a load value code that can be redeemed
                                    for a vast array of single-use eletronic gift cards available through the Kohler
                                    Direct Gift Card Catalog, which features a diverse selection from top brands and
                                    retailers.</p>
                                <p class="mt-3">If you prefer something tangible, opt for a single-use physical VISA
                                    reward card, valid wherever VISA is accepted.</p>

                            </div>
                            <div class="sm:w-1/2 giftcard-block-right-learn no-margin-left">
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section id="card-main">
            <div class="prepaid-card-container container-fluid clearfix">
                <div class="row">
                    <div class="w-full text-center">
                        <h1>How to Redeem Points</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="sm:w-1/4 col-sm-3">
                        <div class="card-block-3-col" style="display: flex; flex-direction: column; gap: 10px;"> <img style="width:200px !important; height: 200px !important; margin-bottom: 10px;" src="assets/images/card-step-1-img.png" class="card-redeem-img" alt="">
                            <strong class="f-20">Step 1: Explore Your Options</strong>
                            <p class="additional-info">
                                Visit the Kohler Direct Gift Card Catalog by 
                                <a href="https://redeem.yourdigitalreward.com/rewards/reward-choice-eyJpdiI6IndEaFZaMG00VzRHQVFPOGZndUREeUE9PSIsInZhbHVlIjoiUjlBb1JpY3NvNzN1ZlhZVURZNTQ2dz09IiwibWFjIjoiMjkwM2Y2ZTJiYWFjMTkxMDZhYWVjZDhmODVlNTlhMzMxM2YxYjhlZjVlMmIxMDA2MDBmYmQ3ZWNmOTVjODY1YiJ9" class="underline-link" target="_blank">clicking here</a> 
                                to peruse the selection of electronic gift cards, including a VISA Rewards card with a physical delivery option.
                            </p>
                            
                        </div>

                    </div>
                    <div class="sm:w-1/4 col-sm-3">
                        <div class="card-block-3-col" style="display: flex; flex-direction: column; gap: 10px;"> <img style="width:200px !important; height: 200px !important; margin-bottom: 10px;" src="assets/images/card-step-2-img.png" class="card-redeem-img" alt="">
                            <strong class="f-20">Step 2: Convert Your Points</strong>
                            <p class="additional-info">After choosing your desired card, navigate to the redemption page to turn your points into a load value code. Simply input the amount of points you wish to
                                use in the designated field and the dollar value of your points will be displayed.
                            </p>
                        </div>

                    </div>
                    <div class="sm:w-1/4 col-sm-3" style="display: flex; flex-direction: column; gap: 10px;">
                        <div class="card-block-3-col"> <img style="width:200px !important; height: 200px !important; margin-bottom: 10px;" src="assets/images/card-step-3-img.png" class="card-redeem-img" alt="">
                            <strong class="f-20">Step 3: Redeem Your Code</strong>
                            <p class="additional-info">Hit the 'Submit' button, then follow the onscreen link to proceed (rest assured, this
                                link will also be sent to your email should you exit this page by accident).</p>
                        </div>
                    </div>
                    <div class="sm:w-1/4 col-sm-3" style="display: flex; flex-direction: column; gap: 10px;">
                        <div class="card-block-3-col"> <img style="width:200px !important; height: 200px !important; margin-bottom: 10px;" src="assets/images/card-step-4-img.png" class="card-redeem-img" alt="">
                            <strong class="f-20">Step 4: Finalize Your Selection</strong>
                            <p class="additional-info">Use the load value code from Step 2 to complete your purchase in the catalog. Your
                                electronic gift cards will be delivered to your email inbox almost instantly, ready
                                to be used or gifted as you see fit.</p>
                            <p>Remember, each load value code is unique and cannot be combined with others; however,
                                any remaining balance on a code can be used at any time before its expiration date.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <section id="card-main-form">
        <div class="prepaid-card-container container-fluid clearfix">
            <div class="row">
                <div class="w-full text-center">
                    <div class="">
                        For any assistance during the process or inquiries about your Kohler Direct Gift Card, our customer support team is here to help guide you through any difficulties or answer your questions. Feel free to contact us at tritonsupport@kohlerpreferredpartners.com, Monday through Friday from 9:00am to 5:30pm EST.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>