
<div class="w-full containheight">

  <div class="flex justify-between items-center mb-4">
    <!-- <h4 class="text-black mt-3 mb-4">Curriculum Manager</h4> -->
    <button class="mr-4 mt-2" mat-flat-button (click)="AddCourse()" style="background: #314653; color: white; margin-left:auto;">
      <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
      <span class="ml-2 mr-1" style="color: white">Add</span>
    </button>
  </div>

  <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 p-6">
    <div class="w-full max-w-screen-xl mx-auto">
        <mat-tab-group custom-mat-tab
          (selectedTabChange)="onTabChanged($event);"
          [animationDuration]="'0'"
            >
            <mat-tab label="Active">
                <ng-template matTabContent>
                  <div class="bg-white" style="
                    border-radius: 5px;
                    box-shadow: 6px 6px 20px #00000029;">
                    <app-data-grid [gridSettings]="gridColumns" [enableRowClick]="true" [dataSource]="dataSource" [loading]="loading"
                    [pages]="pages" [pageIndex]="currentPage" [totalRecordCount]="apiRequest.itemCount"  (emitRecordCount)="changePageCount($event)"
                    (fetchPageData)="onPageChange($event)" (sortChangeClick)="handleSortChange($event)"
                    (buttonClick)="handleButtonClick($event, content)">
                  </app-data-grid>
                  </div>
                </ng-template>
            </mat-tab>


            <mat-tab label="Inactive">
                <ng-template matTabContent>
                  <div class="bg-white" style="
                    border-radius: 5px;
                    box-shadow: 6px 6px 20px #00000029;">
                     <app-data-grid [gridSettings]="gridColumns" [enableRowClick]="true" [dataSource]="dataSource" [loading]="loading"
                     [pages]="pages" [pageIndex]="currentPage" [totalRecordCount]="apiRequest.itemCount" (emitRecordCount)="changePageCount($event)"
                     (fetchPageData)="onPageChange($event)" (sortChangeClick)="handleSortChange($event)"
                     (buttonClick)="handleButtonClick($event, content)">
                   </app-data-grid>
                  </div>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
<div _ngcontent-myy-c158="" class="p-6"></div>

  
</div>

<ng-template #content>
    <div mat-dialog-title class="dialog-header">
      <h3>Delete Confirmation</h3>
      <button mat-icon-button (click)="modalReference.close()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure, you want to delete this record?</p>
    </div>
    <div class="modal-footer" style="float: right;">
      <button mat-button (click)="modalReference.close()" class="cancel-button">Cancel</button>
      <button mat-raised-button (click)="DeleteCirriculum(); modalReference.close()" class="delete-button">Delete</button>
    </div>
  </ng-template>

  