<div class="h-full flex flex-col">
    <div
        class="flex flex-col login-wrapper sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 sign-in-body">

        <div style="justify-content: center !important;
    display: flex;" class="relative  flex-auto items-center h-full overflow-hidden dark:border-r login-full">

            <div class="z-10 relative w-full max-w-2xl">
                <div class="loginContent welcome">

                    <h1 class="mt-4">Welcome to</h1>
                    <img src="assets/images/kohler_logo_lightBlue.png" style="width: 377px;" class="login_lightBlue">
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5 d-flex  align-items-center  p-sm-5 p-4 login-full"
            style="background: #00000000 !important;">
            <div class="w-px-400">
                <div class="loginContainer">
                    <div class="app-brand mb-6">

                        <img src="assets/images/kohler_logo.png" class="img-fluid login-logo-wid" />
                        <div class="app-brand-link">
                            Forgot Credentials?
                        </div>
                    </div>
                    <form id="formLogin" class="mb-0 needs-validation" [formGroup]="forgotPasswordForm"
                        #signInNgForm="ngForm">
                        <div class=" mb-6">
                            <div class="mb-3">
                                <label style="font-size: 16px; color: #fff; font-weight: 900;" for="username">User
                                    ID</label>
                                <input id="login-input-field" matInput type="text" [formControlName]="'username'"
                                    class="form-control mt-1" id="username" placeholder="User ID">
                            </div>
                            <div class="mt-2">
                                <button class="btn btn-large d-grid w-full"
                                    style="height: 38px; background-color: #000000 !important; border-radius: 4px; font-size: 1rem !important;"
                                    (click)="sendResetLink()">Send Link To Reset Password</button>
                            </div>
                        </div>
                        <div class="mb-2">
                            <label style="font-size: 16px; color: #fff; font-weight: 900;" for="emai">Email
                                Address</label>
                            <div class="relative">
                                <input matInput class="form-control mt-1" [formControlName]="'email'"
                                    placeholder="Email Address" aria-describedby="email" />
                            </div>
                            <div class="mt-2">
                                <button class=" btn btn-large d-grid w-full"
                                    style="height: 38px; background-color: #000000 !important; border-radius: 4px; font-size: 1rem !important;"
                                    (click)="getUserName()">Send Link To Get Username</button>
                            </div>
                        </div>
                    </form>
                    <div class="mt-4 text-center mt-6"><a [routerLink]="['/sign-in']" class="text-white">Back to
                            Login</a></div>
                </div>
            </div>
        </div>
    </div>

    <footer style="background-color: #01244a !important;">
        <div class="w-full">
            <div class="flex flex-row w-full justify-between footer-container" style="padding-left: 5rem !important;
        padding-right: 5rem !important;">
                <div class="col-span-3 mb-0">
                    <img src="assets/images/kohler_light.png" alt="Kohler Logo" class="w-40 h-10">
                    <div class="mt-2 pr-2 socialmedia">
                        <ul class="flex space-x-4">
                            <li><a href="https://www.linkedin.com/company/kohler"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="https://x.com/kohler?lang=en&mx=2"><i class="fa-brands fa-x-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/kohler/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-4 col-start-4 mb-0">
                    <div class="text-right contact-us-container">
                        <div class="mb-4">
                            <a routerLink="/contactus" class="text-gray-700"
                                style="font-size: 20px; color: #fff !important">Contact Us</a>
                        </div>
                        <div class="mt-4 footernav">
                            <ul class="text-gray-600 flex flex-row footermenu" style="font-size: 16px !important;">
                                <li style="text-decoration: none; ">Copyright © 2024 Kohler Co.</li>
                                <li><a routerLink="/terms-of-use" class="">Terms of Use.</a></li>
                                <li><a routerLink="/privacypolicy" class="">Privacy Policy.</a></li>
                                <li><a href="https://kohler.service-now.com/gdp/form.do" target="_blank"
                                        class="">Subject Access Request.</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>