.content{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.resultContent {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 22px;
}